*.log
*~
.#*
.DS_Store
.mc-lists.el
*.elc
.org-id-locations
/.cache
/elpa
/auto-save-list
*.eld
smex-items
/url

/temp
!/temp/.keep

/my
!/my/.keep
!/my/snippets/.keep

/custom.el

/network-security.data
/recentf
/eshell
/pyim
/semanticdb
projectile.cache
/ac-comphist.dat
/ido.last
/rake.cache
/image-dired
/tramp
/quelpa
/emojis
/eln-cache

# LSP
/eclipse.jdt.ls
/workspace
/lsp-cache

# Magit/Forge
/forge-database.sqlite

# cURL cookie jar(?)
/request

# Nativ debug downloaded file
/.extension